[submodule "engine"]
	path = engine
	url = https://github.com/abhishekpradhan/warpowers-engine.git
	branch = warpowers-web
[submodule "dvijoke"]
	path = dvijoke
	url = https://github.com/abhishekpradhan/warpowers-dvijoke.git
	branch = main
